// leetcode
.css-1g5mkhn-xs-Btn-WriteAcSolutionButton {
  background #2db55d !important
  box-shadow inset 0px 0px 0px 1px #2db55d !important
}
.css-ba7fuo-BaseButtonComponent-StyledRunCodeButton{
  background  #2db55d !important
  color #fff !important
  box-shadow inset 0px 0px 0px 1px #2db55d !important
}
.css-5dhefr-BaseButtonComponent{
   background  #2db55d !important
}
.-mr-2 {
  display none
}
.swiper-container {
  display none
}
.my-8 {
  display none
}
.space-y-4{
  display none
}
.col-span-4.col-span-1 {

}
.mb-1 {
  display none
}
.col-span-4 {
  grid-column: span 4/span 4;
}
.col-span-4:nth-of-type(2) {
  display none
}
.bg-dark-gray-2 {
  display none
}
.py-2 {
  display none
}
.text-gray-6 {
  display none
}
.pl-4 > :nth-child(1) {
  display none
}

.pl-4 > :nth-child(2) {
  display none
}

.pl-4 > :nth-child(3) {
  display none
}

.pl-4 > :nth-child(5) {
  display none
}
.pl-4 > :nth-child(6) {
  display none
}
.pl-2.5 {
  display none
}
.leading-\[20px\] {
  display none
}
.z-overlay {
  display none
}

// 简书
.col-xs-16 {
  width 100% !important
}
.col-xs-7.col-xs-offset-1.aside {
  display none
}
._gp-ck {
  width 990px !important
}
._2OwGUo {
  display none
}
._3Pnjry {
  display none
}
._27yofX {
  display none
}