// leetcode
.css-1g5mkhn-xs-Btn-WriteAcSolutionButton {
  background #2db55d !important
  box-shadow inset 0px 0px 0px 1px #2db55d !important
}
.css-ba7fuo-BaseButtonComponent-StyledRunCodeButton{
  background  #2db55d !important
  color #fff !important
  box-shadow inset 0px 0px 0px 1px #2db55d !important
}
.css-5dhefr-BaseButtonComponent{
   background  #2db55d !important
}
.-mr-2 {
  display none
}
.swiper-container {
  display none
}
.my-8 {
  display none
}
.space-y-4{
  display none
}
.col-span-4.col-span-1 {

}
.mb-1 {
  display none
}
.col-span-4 {
  grid-column: span 4/span 4;
}
.col-span-4:nth-of-type(2) {
  display none
}
.bg-dark-gray-2 {
  display none
}
.py-2 {
  display none
}
.text-gray-6 {
  display none
}
.py-3 {
  display none !important
}
.pl-4 {
  display block
}
.pl-4 > :nth-child(1) {
  display none
}

.pl-4 > :nth-child(2) {
  display none
}

.pl-4 > :nth-child(3) {
  display none
}


.pl-4 > :nth-child(5) {
  display none
}
.pl-4 > :nth-child(6) {
  display none
}
.pl-2.5 {
  display none
}
.leading-\[20px\] {
  display none
}
.z-overlay {
  display none
}
.css-18seg6b-Wrapper {
  display none
}
.css-1t12n5z-Inner {
  max-width none
}
.header__2ao3 {
  display none
}
// 简书
.note-list .title {
  color:#000 !important;
  font-size:20px;
}
.image-package:nth-of-type(1) {
  
}
.image-package:nth-child(1) {
  max-width 100% !important
  max-height:none !important;
  .image-container {
    max-height: none !important;
    min-width 100% !important;
    img {
      width: 100% !important
    }
  }
}
.image-container:nth-of-type(1) {
  max-width 100% !important
}
.image-container:nth-child(1) {
  max-width 100% !important
}
._2rhmJa .image-package img {
}
.col-xs-16 {
  width 100% !important
}
.col-xs-7.col-xs-offset-1.aside {
  display none
}
._gp-ck {
  width 990px !important
}
._2OwGUo {
  display none
}
._3Pnjry {
  display none
}
._27yofX {
  display none
}
._13lIbp {
  display none
}
._1iTR78 {
  display none
}
._gp-ck > :nth-child(4) {
  display none
}
footer {
  display none
}
.navbar-nav {
  display none
}
.logo {
  display none
}
._1AawTM {
  display none
}
._1YyUun {
  display none
}
// 知乎
.Question-mainColumn {
  width 990px

}
.Question-sideColumn {
  display none
}
.Topstory-mainColumn {
  width 990px

}
.GlobalSideBar {
  display none
}
// juejing
.sidebar-block:not(.pure){
  display none
}
.container {
  max-width:1210px !important
}
.main-area {
  width: 960px !important;
}
.sidebar {
  top: 0;
  right: 15px important;
  width: 21rem important;
}
.sidebar.sticky .sticky-block-box {
  right: 100px;
}
.article-suspended-panel {
  right: 2rem !important;
  top: inherit !important;
  bottom: 6rem !important;
}
.timeline-entry-list {
  width: 950px !important;
}
.sidebar.top .sticky-block-box {
  position: fixed;
  top: 6.766999999999999rem;
  width: inherit;
  transition: top .2s;
  right: 100px
}
.wechat-banner {
  display none !important;
}
.collect-btn {
  display none !important;
}
.report-btn {
  display none !important;
}
.share-title {
  display none !important;
}
.weibo-btn {
  display none !important;
}
.qq-btn {
  display none !important;
}
.wechat-btn {
  display none !important;
}
.suspension-panel {
  display none !important;
}
.article-banner {
  display none !important;
}
.footer-author-block {
  display none !important;
}