// leetcode
.css-1g5mkhn-xs-Btn-WriteAcSolutionButton {
  background #2db55d !important
  box-shadow inset 0px 0px 0px 1px #2db55d !important
}
.css-ba7fuo-BaseButtonComponent-StyledRunCodeButton{
  background  #2db55d !important
  color #fff !important
  box-shadow inset 0px 0px 0px 1px #2db55d !important
}
.css-5dhefr-BaseButtonComponent{
   background  #2db55d !important
}
.-mr-2 {
  display none
}
.swiper-container {
  display none
}
.my-8 {
  display none
}
.space-y-4{
  display none
}
.col-span-4.col-span-1 {

}
.mb-1 {
  display none
}
.col-span-4 {
  grid-column: span 4/span 4;
}
.col-span-4:nth-of-type(2) {
  display none
}
.bg-dark-gray-2 {
  display none
}
.py-2 {
  display none
}
.text-gray-6 {
  display none
}
.py-3 {
  display none !important
}
.pl-4 {
  display block
}
.pl-4 > :nth-child(1) {
  display none
}

.pl-4 > :nth-child(2) {
  display none
}

.pl-4 > :nth-child(3) {
  display none
}


.pl-4 > :nth-child(5) {
  display none
}
.pl-4 > :nth-child(6) {
  display none
}
.pl-2.5 {
  display none
}
.leading-\[20px\] {
  display none
}
.z-overlay {
  display none
}
.css-18seg6b-Wrapper {
  display none
}
.css-1t12n5z-Inner {
  max-width none
}
.header__2ao3 {
  display none
}

@media (min-width: 920px) {
    .lg\:-left-96 {
        left:-24rem
    }

    .lg\:left-0 {
        left: 0
    }

    .lg\:col-span-3 {
        grid-column: span 6/span 6;
    }

    .lg\:mb-0 {
        margin-bottom: 0
    }

    .lg\:mr-\[24px\] {
        margin-right: 24px
    }

    .lg\:block {
        display: block
    }

    .lg\:inline-block {
        display: inline-block
    }

    .lg\:flex {
        display: flex
    }

    .lg\:hidden {
        display: none
    }

    .lg\:w-\[900px\] {
        width: 900px
    }

    .lg\:max-w-screen-xl {
        max-width: 1200px
    }

    .lg\:\!max-w-none {
        max-width: none!important
    }

    .lg\:-translate-x-0 {
        --tw-translate-x: -0px;
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5,minmax(0,1fr))
    }

    .lg\:grid-cols-\[1fr\2c 300px\] {
        grid-template-columns: 1fr 300px
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4,minmax(0,1fr))
    }

    .lg\:gap-6 {
        gap: 1.5rem
    }

    .lg\:space-x-2>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-left: calc(.5rem*(1 - var(--tw-space-x-reverse)));
        margin-right: calc(.5rem*var(--tw-space-x-reverse))
    }

    .lg\:space-y-0>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-bottom: calc(0px*var(--tw-space-y-reverse));
        margin-top: calc(0px*(1 - var(--tw-space-y-reverse)))
    }

    .lg\:space-x-7>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-left: calc(1.75rem*(1 - var(--tw-space-x-reverse)));
        margin-right: calc(1.75rem*var(--tw-space-x-reverse))
    }

    .lg\:pr-4 {
        padding-right: 1rem
    }

    .lg\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem
    }

    .lg\:leading-none {
        line-height: 1
    }
}
// 简书
.note-list .title {
  color:#000 !important;
  font-size:20px;
}
.image-package:nth-of-type(1) {
  
}
._2rhmJa .image-package .image-container {
  max-height: none !important;
}
.image-package:nth-child(1) {
  max-width 100% !important
  max-height:none !important;
  .image-container {
    max-height: none !important;
    min-width 100% !important;
    img {
      width: 100% !important
    }
  }
}
.image-container:nth-of-type(1) {
  max-width 100% !important
}
.image-container:nth-child(1) {
  max-width 100% !important
}
._2rhmJa .image-package img {
}
.col-xs-16 {
  width 100% !important
}
.col-xs-7.col-xs-offset-1.aside {
  display none
}
._gp-ck {
  width 990px !important
}
._2OwGUo {
  display none
}
._3Pnjry {
  display none
}
._27yofX {
  display none
}
._13lIbp {
  display none
}
._1iTR78 {
  display none
}
._gp-ck > :nth-child(4) {
  display none
}
footer {
  display none
}
.navbar-nav {
  display none
}
.logo {
  display none
}
._1AawTM {
  display none
}
._1YyUun {
  display none
}
// 知乎
.Question-mainColumn {
  width 990px

}
.Question-sideColumn {
  display none
}
.Topstory-mainColumn {
  width 990px

}
.GlobalSideBar {
  display none
}
// juejing
